body {
  /* background-color: navy; */
  background: #3a3c40 no-repeat center fixed;
  background-size: cover;
  /* margin-left: 50px; */
  /* margin-bottom: 150px; */
  /* padding-bottom: 50px; */
  margin: 0px;
}

div.random, div.panda {
  padding: 20px 150px 100px;
  width: 600px;
  margin: auto;
}

h1 {
  font-size: 80px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

.top {
  text-align: center;
  color: #00c8ff  ;
  /* font-weight: 500px; */
}

.random {
  text-align: center;
  color: #248eff;
}

.panda {
  text-align: center;
  color: #009bc2;
}


/* padding: 20px 150px 100px;
width: 600px;
margin: auto; */